<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.13.1/bootstrap-icons.css') }}">
        <title>{% block title %}Planner App{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body class="d-flex flex-column vh-100">

        {% include 'common/header.html' %}

        <!-- CONTAINER PRINCIPAL -->
        <div class="d-flex flex-grow-1 overflow-hidden">

            <!-- SIDEBAR (fixa) -->
            <aside class="d-flex flex-column flex-shrink-0 border-end">
                {% include 'common/aside.html' %}
            </aside>

            <!-- MAIN (único com scroll) -->
            <main class="flex-grow-1 overflow-auto p-3">
                {% block content %}{% endblock %}
            </main>

        </div>

    {% include 'common/footer.html' %}

        {% include 'common/modals/search_bar.html' %}
        {% include 'common/modals/new_note.html' %}
        {% include 'common/modals/new_event.html' %}
        {% include 'common/modals/icon_picker.html' %}
    </body>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</html>