{% extends "common/base.html" %}

{% block title %}Página Inicial - Planner App{% endblock %}

{% block content %}
<main class="container text-center py-5">
    <h1 class="display-6 fw-semibold mb-4">Metodologia Pomodoro</h1>
    <!-- Timer -->
    <div class="position-relative mx-auto my-4" style="width: 280px; height: 280px;">
        
        <svg class="w-100 h-100" viewBox="0 0 280 280">
            <!-- Fundo -->
            <circle cx="140" cy="140" r="130"
                    fill="none"
                    stroke="#e9ecef"
                    stroke-width="8"/>

            <!-- Progresso -->
            <circle cx="140" cy="140" r="130"
                    fill="none"
                    stroke="#0d6efd"
                    stroke-width="8"
                    stroke-linecap="round"
                    stroke-dasharray="817"
                    stroke-dashoffset="0"
                    transform="rotate(-90 140 140)"/>
        </svg>

        <!-- Texto -->
        <div class="position-absolute top-50 start-50 translate-middle">
            <span id="timerDisplay" class="display-4 fw-bold">25:00</span>
        </div>
    </div>

    <!-- Controles -->
    <div class="d-flex justify-content-center gap-3 mb-4">
        <button id="restartBtn" class="btn btn-outline-secondary rounded-circle" style="width:60px;height:60px;">
            <i class="bi bi-arrow-clockwise fs-4"></i>
        </button>

        <button id="playBtn" class="btn btn-primary rounded-circle" style="width:60px;height:60px;">
            <i class="bi bi-play-fill fs-4"></i>
        </button>

        <button id="nextBtn" class="btn btn-outline-secondary rounded-circle" style="width:60px;height:60px;">
            <i class="bi bi-arrow-right fs-4"></i>
        </button>
    </div>

    <!-- Tags -->
    <div class="d-flex flex-wrap justify-content-center gap-2">
        <span class="badge rounded-pill bg-transparent text-body">
            <i class="bi bi-laptop me-1"></i>
        </span>
        <span class="badge rounded-pill bg-transparent text-body">
            <i class="bi bi-cup-hot me-1"></i>
        </span>
        <span class="badge rounded-pill bg-transparent text-body">
            <i class="bi bi-laptop me-1"></i>
        </span>
        <span class="badge rounded-pill bg-transparent text-body">
            <i class="bi bi-book-half me-1"></i>
        </span>
        </div>

</main>
{% endblock %}

{% block scripts %}
<!-- Scripts aqui -->
{% endblock %}